.student-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 0.5px solid gray;
}

.hide-student-container {
  visibility: hidden;
  display: none;
}

.image-container img {
  border-radius: 50%;
  border: 1px gray solid;
  width: 70px;
}

.student-info-container {
  padding-left: 20px;
  width: 100%;
}

.student-info-upper-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.student-name,
.collapsable-plus-sign {
  font-size: 2em;
  font-weight: 700;
}

.student-info-lower-container {
  padding-left: 15px;
}

.show-more-info {
  visibility: hidden;
  display: none;
}

.grades-container {
  margin-bottom: 8px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-input {
  width: 40%;
  border: none;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  border-bottom: 1px solid gray;
  padding-top: 12px;
}
